--
-- PostgreSQL database dump
--

\restrict pAEaVUapzkyaMR82c0jCwf5IFJsonlHoA5U9G7g2UW9DXnUJeZKXrq9L5rC3x0u

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: contact_entity; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.contact_entity AS ENUM (
    'supplier',
    'customer'
);


ALTER TYPE public.contact_entity OWNER TO postgres;

--
-- Name: customer_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.customer_type AS ENUM (
    'retailer',
    'wholesaler',
    'hospital',
    'clinic',
    'government'
);


ALTER TYPE public.customer_type OWNER TO postgres;

--
-- Name: drug_schedule; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.drug_schedule AS ENUM (
    'OTC',
    'G',
    'H',
    'H1',
    'X'
);


ALTER TYPE public.drug_schedule OWNER TO postgres;

--
-- Name: expense_category; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.expense_category AS ENUM (
    'transport',
    'rent',
    'utilities',
    'salaries',
    'marketing',
    'maintenance',
    'miscellaneous'
);


ALTER TYPE public.expense_category OWNER TO postgres;

--
-- Name: invoice_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.invoice_status AS ENUM (
    'draft',
    'confirmed',
    'cancelled'
);


ALTER TYPE public.invoice_status OWNER TO postgres;

--
-- Name: movement_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.movement_type AS ENUM (
    'purchase',
    'sale',
    'sale_return',
    'purchase_return',
    'adjustment_in',
    'adjustment_out',
    'expiry_writeoff'
);


ALTER TYPE public.movement_type OWNER TO postgres;

--
-- Name: payment_direction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_direction AS ENUM (
    'received',
    'paid'
);


ALTER TYPE public.payment_direction OWNER TO postgres;

--
-- Name: payment_mode; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_mode AS ENUM (
    'cash',
    'bank_transfer',
    'cheque',
    'mobile_wallet'
);


ALTER TYPE public.payment_mode OWNER TO postgres;

--
-- Name: return_reason; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.return_reason AS ENUM (
    'near_expiry',
    'damaged',
    'excess_stock',
    'wrong_product',
    'quality_issue',
    'customer_request',
    'other'
);


ALTER TYPE public.return_reason OWNER TO postgres;

--
-- Name: fn_batch_opening_movement(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_batch_opening_movement() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO stock_movements (

        batch_id, movement_type, quantity,

        reference_type, reference_id, notes, created_by

    ) VALUES (

        NEW.batch_id,

        'purchase',

        NEW.quantity_received,

        'purchase_invoice',

        NEW.purchase_invoice_id,

        'Opening stock on batch creation',

        NULL

    );

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_batch_opening_movement() OWNER TO postgres;

--
-- Name: fn_check_credit_limit(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_check_credit_limit() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_current_balance   NUMERIC(15,2);

    v_credit_limit      NUMERIC(15,2);

BEGIN

    -- Safety Guard: Prevent status reversal (Confirmed -> Draft)

    IF OLD.status = 'confirmed' AND NEW.status = 'draft' THEN

        RAISE EXCEPTION 'Safety Violation: Once confirmed, an invoice status cannot be reverted to draft.';

    END IF;



    IF NEW.status = 'confirmed' AND OLD.status = 'draft' THEN

        -- PESSIMISTIC LOCK: Lock the customer row to serialize credit checks.

        -- This prevents multiple simultaneous invoices from bypassing the limit.

        PERFORM * FROM customers WHERE customer_id = NEW.customer_id FOR UPDATE;



        SELECT

            opening_balance + COALESCE(

                (SELECT SUM(net_receivable) FROM sale_invoices

                 WHERE customer_id = NEW.customer_id AND status = 'confirmed'),

            0) - COALESCE(

                (SELECT SUM(amount) FROM payments

                 WHERE party_id = NEW.customer_id AND direction = 'received'),

            0),

            credit_limit

        INTO v_current_balance, v_credit_limit

        FROM customers WHERE customer_id = NEW.customer_id;



        IF v_credit_limit > 0 AND v_current_balance + NEW.net_receivable > v_credit_limit THEN

            RAISE WARNING

                'Invoice % would exceed credit limit for customer %. Proceeding with override.',

                NEW.invoice_number, NEW.customer_id;

            -- WARNING not EXCEPTION: business choice to allow override with warning

            -- Change to EXCEPTION to hard-block if required

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_check_credit_limit() OWNER TO postgres;

--
-- Name: fn_rebuild_product_search_vector(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_rebuild_product_search_vector() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_product_id        UUID;

    v_name              TEXT;

    v_generic_formula   TEXT;

    v_form              TEXT;

    v_hsn_code          TEXT;

    v_drap_reg          TEXT;

    v_manufacturer_name TEXT;

    v_category_name     TEXT;

BEGIN

    -- Determine which product(s) to update.

    -- When called from products trigger: single row (NEW.product_id).

    -- When called from manufacturers trigger: all products of that manufacturer.

    -- When called from categories trigger: all products of that category.

    -- TG_TABLE_NAME lets us branch without three separate functions.



    IF TG_TABLE_NAME = 'products' THEN

        -- Direct product insert/update: rebuild only this row.

        SELECT

            p.name, p.generic_formula, p.form, p.hsn_code, p.drap_registration_no,

            m.name, c.name

        INTO v_name, v_generic_formula, v_form, v_hsn_code, v_drap_reg,

             v_manufacturer_name, v_category_name

        FROM products p

        LEFT JOIN manufacturers m ON m.manufacturer_id = p.manufacturer_id

        LEFT JOIN categories    c ON c.category_id     = p.category_id

        WHERE p.product_id = NEW.product_id;



        NEW.search_vector := to_tsvector('english',

            coalesce(v_name, '')              || ' ' ||

            coalesce(v_generic_formula, '')   || ' ' ||

            coalesce(v_form, '')              || ' ' ||

            coalesce(v_manufacturer_name, '') || ' ' ||

            coalesce(v_category_name, '')     || ' ' ||

            coalesce(v_hsn_code, '')          || ' ' ||

            coalesce(v_drap_reg, '')

        );

        RETURN NEW;



    ELSIF TG_TABLE_NAME = 'manufacturers' THEN

        -- Manufacturer name changed: rebuild search_vector for all its products.

        UPDATE products p

        SET search_vector = to_tsvector('english',

            coalesce(p.name, '')              || ' ' ||

            coalesce(p.generic_formula, '')   || ' ' ||

            coalesce(p.form, '')              || ' ' ||

            coalesce(NEW.name, '')            || ' ' ||   -- new manufacturer name

            coalesce(c.name, '')              || ' ' ||

            coalesce(p.hsn_code, '')          || ' ' ||

            coalesce(p.drap_registration_no, '')

        )

        FROM categories c

        WHERE p.manufacturer_id = NEW.manufacturer_id

          AND p.category_id = c.category_id;



        -- Also handle products with NULL category

        UPDATE products p

        SET search_vector = to_tsvector('english',

            coalesce(p.name, '')              || ' ' ||

            coalesce(p.generic_formula, '')   || ' ' ||

            coalesce(p.form, '')              || ' ' ||

            coalesce(NEW.name, '')            || ' ' ||

            coalesce(p.hsn_code, '')          || ' ' ||

            coalesce(p.drap_registration_no, '')

        )

        WHERE p.manufacturer_id = NEW.manufacturer_id

          AND p.category_id IS NULL;



        RETURN NEW;



    ELSIF TG_TABLE_NAME = 'categories' THEN

        -- Category name changed: rebuild search_vector for all its products.

        UPDATE products p

        SET search_vector = to_tsvector('english',

            coalesce(p.name, '')              || ' ' ||

            coalesce(p.generic_formula, '')   || ' ' ||

            coalesce(p.form, '')              || ' ' ||

            coalesce(m.name, '')              || ' ' ||

            coalesce(NEW.name, '')            || ' ' ||   -- new category name

            coalesce(p.hsn_code, '')          || ' ' ||

            coalesce(p.drap_registration_no, '')

        )

        FROM manufacturers m

        WHERE p.category_id = NEW.category_id

          AND p.manufacturer_id = m.manufacturer_id;



        RETURN NEW;

    END IF;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_rebuild_product_search_vector() OWNER TO postgres;

--
-- Name: fn_set_deactivated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_set_deactivated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF NEW.is_active = FALSE AND OLD.is_active = TRUE THEN

        NEW.deactivated_at := now();

    ELSIF NEW.is_active = TRUE THEN

        NEW.deactivated_at := NULL;   -- Allow reactivation

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_set_deactivated_at() OWNER TO postgres;

--
-- Name: fn_set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at := now();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_set_updated_at() OWNER TO postgres;

--
-- Name: fn_sync_batch_quantity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_sync_batch_quantity() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Atomic Update: The DB handles row-locking and check-constraints automatically.

    -- The chk_batches_not_negative constraint handles the race condition.

    UPDATE batches

    SET quantity_available = quantity_available +

        CASE

            WHEN NEW.movement_type IN ('purchase','sale_return','adjustment_in')

                THEN NEW.quantity

            WHEN NEW.movement_type IN ('sale','purchase_return','adjustment_out','expiry_writeoff')

                THEN -NEW.quantity

            ELSE 0

        END,

        updated_at = now()

    WHERE batch_id = NEW.batch_id;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_sync_batch_quantity() OWNER TO postgres;

--
-- Name: fn_sync_prescription_flag(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_sync_prescription_flag() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.requires_prescription := NEW.drug_schedule IN ('H', 'H1', 'X');

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_sync_prescription_flag() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batches (
    batch_id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    supplier_id uuid NOT NULL,
    purchase_invoice_id uuid,
    batch_number text NOT NULL,
    manufacturing_date date NOT NULL,
    expiry_date date NOT NULL,
    mrp numeric(15,2) NOT NULL,
    purchase_cost_per_unit numeric(15,2) NOT NULL,
    quantity_received integer NOT NULL,
    quantity_available integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT batches_mrp_check CHECK ((mrp > (0)::numeric)),
    CONSTRAINT batches_purchase_cost_per_unit_check CHECK ((purchase_cost_per_unit > (0)::numeric)),
    CONSTRAINT batches_quantity_received_check CHECK ((quantity_received > 0)),
    CONSTRAINT chk_batches_dates CHECK ((expiry_date > manufacturing_date)),
    CONSTRAINT chk_batches_not_negative CHECK ((quantity_available >= 0)),
    CONSTRAINT chk_batches_qty_limit CHECK ((quantity_available <= quantity_received))
);


ALTER TABLE public.batches OWNER TO postgres;

--
-- Name: TABLE batches; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.batches IS 'Stock batches. Each batch is linked to a GRN (purchase invoice). MRP is batch-level (DRAP mandate).';


--
-- Name: COLUMN batches.mrp; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.batches.mrp IS 'Maximum Retail Price per DRAP regulations. Printed on the physical pack. Fixed for the life of the batch.';


--
-- Name: COLUMN batches.quantity_available; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.batches.quantity_available IS 'CACHED value. Source of truth is stock_movements. Maintained by trigger trg_stock_movement_sync. Do NOT update directly.';


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    category_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: TABLE categories; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.categories IS 'Controlled vocabulary for medicine categories. Pre-seeded; editable by admin.';


--
-- Name: contact_persons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_persons (
    contact_id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_type public.contact_entity NOT NULL,
    entity_id uuid NOT NULL,
    name text NOT NULL,
    role text,
    contact_number text,
    email text,
    is_primary boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.contact_persons OWNER TO postgres;

--
-- Name: TABLE contact_persons; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.contact_persons IS 'Multiple contacts per supplier or customer. [Architect Note: Polymorphic reference; referential integrity is ensured by application-layer service/repository.]';


--
-- Name: COLUMN contact_persons.entity_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.contact_persons.entity_id IS 'References suppliers.supplier_id or customers.customer_id depending on entity_type.';


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    customer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    strn text,
    ntn text,
    drug_licence_no text,
    address text,
    city text,
    territory text,
    customer_type public.customer_type DEFAULT 'retailer'::public.customer_type NOT NULL,
    credit_limit numeric(15,2) DEFAULT 0.00 NOT NULL,
    opening_balance numeric(15,2) DEFAULT 0.00 NOT NULL,
    payment_terms text,
    is_active boolean DEFAULT true NOT NULL,
    deactivated_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, ((((((((COALESCE(name, ''::text) || ' '::text) || COALESCE(strn, ''::text)) || ' '::text) || COALESCE(ntn, ''::text)) || ' '::text) || COALESCE(city, ''::text)) || ' '::text) || COALESCE(territory, ''::text)))) STORED,
    CONSTRAINT chk_customers_deactivated CHECK ((((is_active = true) AND (deactivated_at IS NULL)) OR ((is_active = false) AND (deactivated_at IS NOT NULL)))),
    CONSTRAINT customers_credit_limit_check CHECK ((credit_limit >= (0)::numeric))
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: TABLE customers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.customers IS 'Customer master. Covers retail pharmacies, hospital pharmacies, clinics, and government institutions.';


--
-- Name: COLUMN customers.strn; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customers.strn IS 'Sales Tax Registration Number (FBR). Required for B2B tax invoices. Optional for small unregistered retailers.';


--
-- Name: COLUMN customers.territory; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customers.territory IS 'Sales territory / area for route planning and territory-wise sales analysis.';


--
-- Name: COLUMN customers.customer_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customers.customer_type IS 'Affects GST treatment: government customers may have different tax applicability.';


--
-- Name: COLUMN customers.opening_balance; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customers.opening_balance IS 'Receivable balance at onboarding. Seeds the customer ledger correctly.';


--
-- Name: expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses (
    expense_id uuid DEFAULT gen_random_uuid() NOT NULL,
    expense_date date DEFAULT CURRENT_DATE NOT NULL,
    category public.expense_category DEFAULT 'miscellaneous'::public.expense_category NOT NULL,
    description text NOT NULL,
    amount numeric(15,2) NOT NULL,
    mode public.payment_mode DEFAULT 'cash'::public.payment_mode NOT NULL,
    reference_no text,
    vendor_name text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT expenses_amount_check CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.expenses OWNER TO postgres;

--
-- Name: TABLE expenses; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.expenses IS 'Non-inventory operational expenses. Feeds into P&L statement in Iteration 3.';


--
-- Name: manufacturers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manufacturers (
    manufacturer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    drap_mfg_licence text,
    country text DEFAULT 'Pakistan'::text NOT NULL,
    contact_number text,
    email text,
    is_active boolean DEFAULT true NOT NULL,
    deactivated_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, ((COALESCE(name, ''::text) || ' '::text) || COALESCE(drap_mfg_licence, ''::text)))) STORED,
    CONSTRAINT chk_manufacturers_deactivated CHECK ((((is_active = true) AND (deactivated_at IS NULL)) OR ((is_active = false) AND (deactivated_at IS NOT NULL))))
);


ALTER TABLE public.manufacturers OWNER TO postgres;

--
-- Name: TABLE manufacturers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.manufacturers IS 'Medicine manufacturers. country != ''Pakistan'' implies imported product.';


--
-- Name: COLUMN manufacturers.drap_mfg_licence; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.manufacturers.drap_mfg_licence IS 'DRAP manufacturing authorisation number. Mandatory for compliant purchasing.';


--
-- Name: COLUMN manufacturers.search_vector; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.manufacturers.search_vector IS 'Auto-maintained FTS vector. Never write directly.';


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    payment_id uuid DEFAULT gen_random_uuid() NOT NULL,
    direction public.payment_direction NOT NULL,
    party_id uuid NOT NULL,
    payment_date date DEFAULT CURRENT_DATE NOT NULL,
    amount numeric(15,2) NOT NULL,
    mode public.payment_mode DEFAULT 'cash'::public.payment_mode NOT NULL,
    reference_no text,
    bank_name text,
    notes text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT payments_amount_check CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: TABLE payments; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.payments IS 'All money movements: received from customers and paid to suppliers. Append-only ledger.';


--
-- Name: COLUMN payments.party_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.payments.party_id IS 'UUID of customer (direction=received) or supplier (direction=paid). [Architect Note: Polymorphic reference; ensures flexibility across audit ledgers.]';


--
-- Name: COLUMN payments.reference_no; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.payments.reference_no IS 'Cheque number, IBFT transaction ID, JazzCash/EasyPaisa reference, etc.';


--
-- Name: product_price_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_price_history (
    history_id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    changed_by uuid,
    default_sale_rate numeric(15,2) NOT NULL,
    default_purchase_rate numeric(15,2) NOT NULL,
    effective_from timestamp with time zone DEFAULT now() NOT NULL,
    notes text,
    CONSTRAINT chk_price_history_rates CHECK (((default_sale_rate >= default_purchase_rate) OR (default_purchase_rate = (0)::numeric))),
    CONSTRAINT product_price_history_default_purchase_rate_check CHECK ((default_purchase_rate >= (0)::numeric)),
    CONSTRAINT product_price_history_default_sale_rate_check CHECK ((default_sale_rate >= (0)::numeric))
);


ALTER TABLE public.product_price_history OWNER TO postgres;

--
-- Name: TABLE product_price_history; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.product_price_history IS 'Append-only log of product default rate changes. Never UPDATE or DELETE rows here.';


--
-- Name: COLUMN product_price_history.effective_from; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.product_price_history.effective_from IS 'Timestamp from which these rates were active. Use to reconstruct historical pricing.';


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    manufacturer_id uuid NOT NULL,
    category_id uuid,
    form text,
    uom text DEFAULT 'Strip'::text NOT NULL,
    quantity_in_uom smallint DEFAULT 1 NOT NULL,
    hsn_code text,
    gst_rate numeric(5,2) DEFAULT 0.00 NOT NULL,
    drug_schedule public.drug_schedule DEFAULT 'OTC'::public.drug_schedule NOT NULL,
    drap_registration_no text,
    requires_prescription boolean DEFAULT false NOT NULL,
    generic_formula text,
    default_sale_rate numeric(15,2) DEFAULT 0.00 NOT NULL,
    default_purchase_rate numeric(15,2) DEFAULT 0.00 NOT NULL,
    shelf_no text,
    attributes jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    deactivated_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector,
    CONSTRAINT chk_products_deactivated CHECK ((((is_active = true) AND (deactivated_at IS NULL)) OR ((is_active = false) AND (deactivated_at IS NOT NULL)))),
    CONSTRAINT chk_products_gst_schedule CHECK (true),
    CONSTRAINT products_default_purchase_rate_check CHECK ((default_purchase_rate >= (0)::numeric)),
    CONSTRAINT products_default_sale_rate_check CHECK ((default_sale_rate >= (0)::numeric)),
    CONSTRAINT products_gst_rate_check CHECK ((gst_rate = ANY (ARRAY[(0)::numeric, (5)::numeric, (12)::numeric, (18)::numeric, (28)::numeric]))),
    CONSTRAINT products_quantity_in_uom_check CHECK ((quantity_in_uom > 0))
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: TABLE products; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.products IS 'Medicine master. Central entity. Deactivated products are hidden from transaction screens but retained for history.';


--
-- Name: COLUMN products.hsn_code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.hsn_code IS 'Harmonised System Nomenclature code. Mandatory for FBR-compliant GST invoicing in Pakistan.';


--
-- Name: COLUMN products.gst_rate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.gst_rate IS 'FBR GST slab. Most medicines in Pakistan are 0% (exempt); confirm with FBR schedules.';


--
-- Name: COLUMN products.drug_schedule; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.drug_schedule IS 'DRAP drug schedule. X = controlled. H1 = psychotropic. H = Rx-only. G = caution. OTC = unrestricted.';


--
-- Name: COLUMN products.requires_prescription; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.requires_prescription IS 'TRUE for Schedule H, H1, X. Set by trigger on drug_schedule insert/update.';


--
-- Name: COLUMN products.generic_formula; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.generic_formula IS 'Active ingredient(s) with strength. e.g. ''Paracetamol 500mg''. Pakistan doctors prescribe by generic; this enables cross-brand substitution search when a brand is out of stock.';


--
-- Name: COLUMN products.default_sale_rate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.default_sale_rate IS 'Distributor standard sale rate. NOT MRP (MRP is batch-level, printed on pack).';


--
-- Name: COLUMN products.attributes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.attributes IS 'Flexible JSONB bag for sparse product attributes (e.g., cold_chain, pack_type, storage_temp).';


--
-- Name: COLUMN products.search_vector; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.products.search_vector IS 'Trigger-maintained FTS vector. Includes name, generic_formula, form, manufacturer name, category name, HSN, DRAP reg no. Never write directly ├óΓé¼ΓÇ¥ maintained by fn_rebuild_product_search_vector().';


--
-- Name: purchase_invoice_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_invoice_items (
    item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    purchase_invoice_id uuid NOT NULL,
    product_id uuid NOT NULL,
    batch_number text NOT NULL,
    manufacturing_date date NOT NULL,
    expiry_date date NOT NULL,
    mrp numeric(15,2) NOT NULL,
    purchase_cost_per_unit numeric(15,2) NOT NULL,
    quantity integer NOT NULL,
    discount_pct numeric(5,2) DEFAULT 0.00 NOT NULL,
    gst_rate numeric(5,2) DEFAULT 0.00 NOT NULL,
    line_total numeric(15,2) NOT NULL,
    tax_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    CONSTRAINT chk_purchase_item_dates CHECK ((expiry_date > manufacturing_date)),
    CONSTRAINT purchase_invoice_items_discount_pct_check CHECK (((discount_pct >= (0)::numeric) AND (discount_pct <= (100)::numeric))),
    CONSTRAINT purchase_invoice_items_line_total_check CHECK ((line_total >= (0)::numeric)),
    CONSTRAINT purchase_invoice_items_mrp_check CHECK ((mrp > (0)::numeric)),
    CONSTRAINT purchase_invoice_items_purchase_cost_per_unit_check CHECK ((purchase_cost_per_unit > (0)::numeric)),
    CONSTRAINT purchase_invoice_items_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.purchase_invoice_items OWNER TO postgres;

--
-- Name: TABLE purchase_invoice_items; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.purchase_invoice_items IS 'Line items for purchase invoices. Each item creates a corresponding batch record on invoice confirmation.';


--
-- Name: COLUMN purchase_invoice_items.mrp; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.purchase_invoice_items.mrp IS 'MRP printed on the physical pack for this batch. Legally mandated by DRAP. Varies per batch run.';


--
-- Name: COLUMN purchase_invoice_items.line_total; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.purchase_invoice_items.line_total IS 'Snapshot total: (purchase_cost_per_unit ├âΓÇö quantity) ├âΓÇö (1 ├ó╦åΓÇÖ discount_pct/100). Immutable after confirmation.';


--
-- Name: purchase_invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_invoices (
    purchase_invoice_id uuid DEFAULT gen_random_uuid() NOT NULL,
    supplier_id uuid NOT NULL,
    invoice_number text NOT NULL,
    invoice_date date NOT NULL,
    received_date date DEFAULT CURRENT_DATE NOT NULL,
    status public.invoice_status DEFAULT 'draft'::public.invoice_status NOT NULL,
    subtotal numeric(15,2) DEFAULT 0.00 NOT NULL,
    discount_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    tax_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    net_payable numeric(15,2) DEFAULT 0.00 NOT NULL,
    notes text,
    created_by uuid,
    confirmed_by uuid,
    confirmed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_purchase_invoice_confirmed CHECK ((((status = 'confirmed'::public.invoice_status) AND (confirmed_by IS NOT NULL) AND (confirmed_at IS NOT NULL)) OR (status <> 'confirmed'::public.invoice_status))),
    CONSTRAINT purchase_invoices_discount_amount_check CHECK ((discount_amount >= (0)::numeric)),
    CONSTRAINT purchase_invoices_net_payable_check CHECK ((net_payable >= (0)::numeric)),
    CONSTRAINT purchase_invoices_subtotal_check CHECK ((subtotal >= (0)::numeric)),
    CONSTRAINT purchase_invoices_tax_amount_check CHECK ((tax_amount >= (0)::numeric))
);


ALTER TABLE public.purchase_invoices OWNER TO postgres;

--
-- Name: TABLE purchase_invoices; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.purchase_invoices IS 'GRN (Goods Receipt Note / ├ÖΓÇª├ÿ┬º├ÖΓÇ₧ ├Ö╦å├ÿ┬╡├Ö╦å├ÖΓÇ₧├¢┼Æ). Foundation of supplier ledger and payables.';


--
-- Name: COLUMN purchase_invoices.invoice_number; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.purchase_invoices.invoice_number IS 'The supplier''s own printed invoice number. Unique per supplier to prevent duplicate GRN entry.';


--
-- Name: COLUMN purchase_invoices.subtotal; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.purchase_invoices.subtotal IS 'Intentionally denormalised. Snapshot of line-item sum at time of confirmation. Immutable after status = confirmed.';


--
-- Name: purchase_return_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_return_items (
    item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    return_id uuid NOT NULL,
    batch_id uuid NOT NULL,
    quantity integer NOT NULL,
    credit_rate numeric(15,2) NOT NULL,
    line_credit numeric(15,2) NOT NULL,
    CONSTRAINT purchase_return_items_credit_rate_check CHECK ((credit_rate > (0)::numeric)),
    CONSTRAINT purchase_return_items_line_credit_check CHECK ((line_credit >= (0)::numeric)),
    CONSTRAINT purchase_return_items_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.purchase_return_items OWNER TO postgres;

--
-- Name: purchase_returns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_returns (
    return_id uuid DEFAULT gen_random_uuid() NOT NULL,
    purchase_invoice_id uuid NOT NULL,
    supplier_id uuid NOT NULL,
    return_date date DEFAULT CURRENT_DATE NOT NULL,
    reason public.return_reason DEFAULT 'other'::public.return_reason NOT NULL,
    notes text,
    total_credit numeric(15,2) DEFAULT 0.00 NOT NULL,
    status public.invoice_status DEFAULT 'draft'::public.invoice_status NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT purchase_returns_total_credit_check CHECK ((total_credit >= (0)::numeric))
);


ALTER TABLE public.purchase_returns OWNER TO postgres;

--
-- Name: TABLE purchase_returns; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.purchase_returns IS 'Returns of purchased goods back to supplier. Reduces payable balance and removes stock.';


--
-- Name: sale_invoice_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_invoice_items (
    item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    sale_invoice_id uuid NOT NULL,
    product_id uuid NOT NULL,
    batch_id uuid NOT NULL,
    quantity integer NOT NULL,
    mrp numeric(15,2) NOT NULL,
    sale_rate numeric(15,2) NOT NULL,
    discount_pct numeric(5,2) DEFAULT 0.00 NOT NULL,
    gst_rate numeric(5,2) DEFAULT 0.00 NOT NULL,
    line_total numeric(15,2) NOT NULL,
    tax_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    CONSTRAINT sale_invoice_items_discount_pct_check CHECK (((discount_pct >= (0)::numeric) AND (discount_pct <= (100)::numeric))),
    CONSTRAINT sale_invoice_items_line_total_check CHECK ((line_total >= (0)::numeric)),
    CONSTRAINT sale_invoice_items_mrp_check CHECK ((mrp > (0)::numeric)),
    CONSTRAINT sale_invoice_items_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT sale_invoice_items_sale_rate_check CHECK ((sale_rate > (0)::numeric))
);


ALTER TABLE public.sale_invoice_items OWNER TO postgres;

--
-- Name: TABLE sale_invoice_items; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sale_invoice_items IS 'Line items for sales invoices. Batch selection follows FEFO (First-Expiry-First-Out) at application layer.';


--
-- Name: sale_invoice_num_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sale_invoice_num_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sale_invoice_num_seq OWNER TO postgres;

--
-- Name: sale_invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_invoices (
    sale_invoice_id uuid DEFAULT gen_random_uuid() NOT NULL,
    invoice_number text DEFAULT concat('INV-', to_char((CURRENT_DATE)::timestamp with time zone, 'YYYY'::text), '-', lpad((nextval('public.sale_invoice_num_seq'::regclass))::text, 6, '0'::text)) NOT NULL,
    customer_id uuid NOT NULL,
    invoice_date date DEFAULT CURRENT_DATE NOT NULL,
    due_date date,
    status public.invoice_status DEFAULT 'draft'::public.invoice_status NOT NULL,
    subtotal numeric(15,2) DEFAULT 0.00 NOT NULL,
    discount_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    tax_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    net_receivable numeric(15,2) DEFAULT 0.00 NOT NULL,
    amount_paid numeric(15,2) DEFAULT 0.00 NOT NULL,
    balance_due numeric(15,2) GENERATED ALWAYS AS ((net_receivable - amount_paid)) STORED,
    notes text,
    created_by uuid,
    confirmed_by uuid,
    confirmed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_sale_invoice_confirmed CHECK ((((status = 'confirmed'::public.invoice_status) AND (confirmed_by IS NOT NULL) AND (confirmed_at IS NOT NULL)) OR (status <> 'confirmed'::public.invoice_status))),
    CONSTRAINT chk_sale_invoice_due CHECK (((due_date IS NULL) OR (due_date >= invoice_date))),
    CONSTRAINT chk_sale_invoice_payment CHECK ((amount_paid <= net_receivable)),
    CONSTRAINT sale_invoices_amount_paid_check CHECK ((amount_paid >= (0)::numeric)),
    CONSTRAINT sale_invoices_discount_amount_check CHECK ((discount_amount >= (0)::numeric)),
    CONSTRAINT sale_invoices_net_receivable_check CHECK ((net_receivable >= (0)::numeric)),
    CONSTRAINT sale_invoices_subtotal_check CHECK ((subtotal >= (0)::numeric)),
    CONSTRAINT sale_invoices_tax_amount_check CHECK ((tax_amount >= (0)::numeric))
);


ALTER TABLE public.sale_invoices OWNER TO postgres;

--
-- Name: TABLE sale_invoices; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sale_invoices IS 'Sales invoices to customers. FBR-compliant GST invoice. Drives stock deduction and customer ledger entries.';


--
-- Name: COLUMN sale_invoices.due_date; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sale_invoices.due_date IS 'Pre-computed from invoice_date + customer payment_terms days. Used directly in AR ageing queries.';


--
-- Name: COLUMN sale_invoices.balance_due; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sale_invoices.balance_due IS 'GENERATED column: net_receivable ├ó╦åΓÇÖ amount_paid. Updates automatically. Drives AR ageing dashboard.';


--
-- Name: sale_return_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_return_items (
    item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    return_id uuid NOT NULL,
    batch_id uuid NOT NULL,
    quantity integer NOT NULL,
    credit_rate numeric(15,2) NOT NULL,
    line_credit numeric(15,2) NOT NULL,
    CONSTRAINT sale_return_items_credit_rate_check CHECK ((credit_rate > (0)::numeric)),
    CONSTRAINT sale_return_items_line_credit_check CHECK ((line_credit >= (0)::numeric)),
    CONSTRAINT sale_return_items_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.sale_return_items OWNER TO postgres;

--
-- Name: sale_returns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_returns (
    return_id uuid DEFAULT gen_random_uuid() NOT NULL,
    sale_invoice_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    return_date date DEFAULT CURRENT_DATE NOT NULL,
    reason public.return_reason DEFAULT 'other'::public.return_reason NOT NULL,
    notes text,
    total_credit numeric(15,2) DEFAULT 0.00 NOT NULL,
    status public.invoice_status DEFAULT 'draft'::public.invoice_status NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sale_returns_total_credit_check CHECK ((total_credit >= (0)::numeric))
);


ALTER TABLE public.sale_returns OWNER TO postgres;

--
-- Name: TABLE sale_returns; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sale_returns IS 'Returns of sold goods from customers. Restores stock and reduces receivable balance.';


--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movements (
    movement_id uuid DEFAULT gen_random_uuid() NOT NULL,
    batch_id uuid NOT NULL,
    movement_type public.movement_type NOT NULL,
    quantity integer NOT NULL,
    reference_type text,
    reference_id uuid,
    notes text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT stock_movements_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.stock_movements OWNER TO postgres;

--
-- Name: TABLE stock_movements; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.stock_movements IS 'Immutable stock ledger. INSERT-ONLY. Source of truth for all stock quantities. Enables full audit trail and point-in-time reconstruction.';


--
-- Name: COLUMN stock_movements.quantity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.stock_movements.quantity IS 'Always positive. Direction (in/out) is encoded by movement_type.';


--
-- Name: COLUMN stock_movements.reference_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.stock_movements.reference_id IS 'UUID of the source document (purchase_invoice_id, sale_invoice_id, etc.). Polymorphic with reference_type.';


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    supplier_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    strn text,
    ntn text,
    drug_licence_no text,
    address text,
    city text,
    payment_terms text,
    credit_period_days smallint DEFAULT 0 NOT NULL,
    opening_balance numeric(15,2) DEFAULT 0.00 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    deactivated_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, ((((((COALESCE(name, ''::text) || ' '::text) || COALESCE(strn, ''::text)) || ' '::text) || COALESCE(ntn, ''::text)) || ' '::text) || COALESCE(city, ''::text)))) STORED,
    CONSTRAINT chk_suppliers_deactivated CHECK ((((is_active = true) AND (deactivated_at IS NULL)) OR ((is_active = false) AND (deactivated_at IS NOT NULL)))),
    CONSTRAINT suppliers_credit_period_days_check CHECK ((credit_period_days >= 0))
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: TABLE suppliers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.suppliers IS 'Supplier master. Represents pharmaceutical manufacturers'' agents, importers, and wholesale sub-distributors.';


--
-- Name: COLUMN suppliers.strn; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.suppliers.strn IS 'Sales Tax Registration Number ├óΓé¼ΓÇ¥ Pakistan FBR identifier. Equivalent to GSTIN in Indian context. Used on all tax invoices.';


--
-- Name: COLUMN suppliers.ntn; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.suppliers.ntn IS 'National Tax Number ├óΓé¼ΓÇ¥ FBR income-tax identifier. Distinct from STRN.';


--
-- Name: COLUMN suppliers.drug_licence_no; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.suppliers.drug_licence_no IS 'DRAP wholesale drug distribution licence. Required for legal purchase of Schedule H/H1/X medicines.';


--
-- Name: COLUMN suppliers.opening_balance; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.suppliers.opening_balance IS 'Payable balance at the time of onboarding. Seeds the supplier ledger correctly.';


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    deactivated_at timestamp with time zone,
    last_login_at timestamp with time zone,
    failed_attempts smallint DEFAULT 0 NOT NULL,
    locked_until timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_users_deactivated CHECK ((((is_active = true) AND (deactivated_at IS NULL)) OR ((is_active = false) AND (deactivated_at IS NOT NULL))))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.users IS 'System users. Single admin in Iteration 1; role expansion in later iterations.';


--
-- Name: COLUMN users.password_hash; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.password_hash IS 'bcrypt hash via bcryptjs. Plain-text MUST never be stored.';


--
-- Name: v_controlled_stock; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_controlled_stock AS
 SELECT p.product_id,
    p.name AS product_name,
    p.generic_formula,
    p.drug_schedule,
    p.drap_registration_no,
    b.batch_id,
    b.batch_number,
    b.quantity_available,
    b.expiry_date,
    s.name AS supplier_name
   FROM ((public.products p
     JOIN public.batches b ON ((b.product_id = p.product_id)))
     JOIN public.suppliers s ON ((s.supplier_id = b.supplier_id)))
  WHERE ((p.drug_schedule = ANY (ARRAY['H1'::public.drug_schedule, 'X'::public.drug_schedule])) AND (b.is_active = true) AND (b.quantity_available > 0));


ALTER VIEW public.v_controlled_stock OWNER TO postgres;

--
-- Name: v_customer_ar; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_customer_ar AS
 SELECT c.customer_id,
    c.name AS customer_name,
    c.credit_limit,
    c.territory,
    c.customer_type,
    ((COALESCE(sum(si.net_receivable) FILTER (WHERE (si.status = 'confirmed'::public.invoice_status)), (0)::numeric) + c.opening_balance) - COALESCE(sum(p.amount) FILTER (WHERE (p.direction = 'received'::public.payment_direction)), (0)::numeric)) AS outstanding_balance,
    COALESCE(sum(si.balance_due) FILTER (WHERE ((si.status = 'confirmed'::public.invoice_status) AND (si.due_date >= CURRENT_DATE) AND (si.due_date < (CURRENT_DATE + 30)))), (0)::numeric) AS bucket_0_30,
    COALESCE(sum(si.balance_due) FILTER (WHERE ((si.status = 'confirmed'::public.invoice_status) AND (si.due_date >= (CURRENT_DATE - 30)) AND (si.due_date < CURRENT_DATE))), (0)::numeric) AS bucket_31_60,
    COALESCE(sum(si.balance_due) FILTER (WHERE ((si.status = 'confirmed'::public.invoice_status) AND (si.due_date >= (CURRENT_DATE - 60)) AND (si.due_date < (CURRENT_DATE - 30)))), (0)::numeric) AS bucket_61_90,
    COALESCE(sum(si.balance_due) FILTER (WHERE ((si.status = 'confirmed'::public.invoice_status) AND (si.due_date < (CURRENT_DATE - 60)))), (0)::numeric) AS bucket_90_plus
   FROM ((public.customers c
     LEFT JOIN public.sale_invoices si ON ((si.customer_id = c.customer_id)))
     LEFT JOIN public.payments p ON (((p.party_id = c.customer_id) AND (p.direction = 'received'::public.payment_direction))))
  WHERE (c.is_active = true)
  GROUP BY c.customer_id, c.name, c.credit_limit, c.territory, c.customer_type, c.opening_balance;


ALTER VIEW public.v_customer_ar OWNER TO postgres;

--
-- Name: v_dashboard_kpis; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_dashboard_kpis AS
 SELECT ( SELECT COALESCE(sum(sale_invoices.net_receivable), (0)::numeric) AS "coalesce"
           FROM public.sale_invoices
          WHERE ((sale_invoices.status = 'confirmed'::public.invoice_status) AND (sale_invoices.invoice_date = CURRENT_DATE))) AS todays_sales,
    ( SELECT COALESCE(sum(sale_invoices.balance_due), (0)::numeric) AS "coalesce"
           FROM public.sale_invoices
          WHERE ((sale_invoices.status = 'confirmed'::public.invoice_status) AND (sale_invoices.balance_due > (0)::numeric))) AS total_outstanding_ar,
    ( SELECT count(*) AS count
           FROM public.customers
          WHERE ((customers.is_active = true) AND (customers.customer_id IN ( SELECT sale_invoices.customer_id
                   FROM public.sale_invoices
                  WHERE ((sale_invoices.status = 'confirmed'::public.invoice_status) AND (sale_invoices.balance_due > (0)::numeric) AND (sale_invoices.due_date < CURRENT_DATE)))))) AS overdue_customers,
    ( SELECT COALESCE(sum(((batches.quantity_available)::numeric * batches.mrp)), (0)::numeric) AS "coalesce"
           FROM public.batches
          WHERE ((batches.is_active = true) AND ((batches.expiry_date >= CURRENT_DATE) AND (batches.expiry_date <= (CURRENT_DATE + 30))))) AS near_expiry_stock_value,
    ( SELECT count(DISTINCT batches.product_id) AS count
           FROM public.batches
          WHERE ((batches.is_active = true) AND (batches.quantity_available = 0))) AS out_of_stock_products;


ALTER VIEW public.v_dashboard_kpis OWNER TO postgres;

--
-- Name: v_near_expiry_batches; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_near_expiry_batches AS
 SELECT b.batch_id,
    b.batch_number,
    b.expiry_date,
    (b.expiry_date - CURRENT_DATE) AS days_to_expiry,
    b.quantity_available,
    b.mrp,
    round(((b.quantity_available)::numeric * b.mrp), 2) AS stock_value_at_mrp,
    p.product_id,
    p.name AS product_name,
    p.generic_formula,
    p.uom,
    m.name AS manufacturer_name,
    s.name AS supplier_name,
        CASE
            WHEN ((b.expiry_date - CURRENT_DATE) <= 30) THEN 'critical'::text
            WHEN ((b.expiry_date - CURRENT_DATE) <= 60) THEN 'warning'::text
            WHEN ((b.expiry_date - CURRENT_DATE) <= 90) THEN 'watch'::text
            ELSE 'normal'::text
        END AS expiry_status
   FROM (((public.batches b
     JOIN public.products p ON ((p.product_id = b.product_id)))
     JOIN public.manufacturers m ON ((m.manufacturer_id = p.manufacturer_id)))
     JOIN public.suppliers s ON ((s.supplier_id = b.supplier_id)))
  WHERE ((b.is_active = true) AND (b.quantity_available > 0) AND ((b.expiry_date - CURRENT_DATE) <= 90))
  ORDER BY (b.expiry_date - CURRENT_DATE);


ALTER VIEW public.v_near_expiry_batches OWNER TO postgres;

--
-- Name: v_stock_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_stock_summary AS
 SELECT p.product_id,
    p.name AS product_name,
    p.generic_formula,
    m.name AS manufacturer_name,
    m.country AS manufacturer_country,
    (m.country <> 'Pakistan'::text) AS is_imported,
    c.name AS category_name,
    p.form,
    p.uom,
    p.drug_schedule,
    p.requires_prescription,
    p.shelf_no,
    p.default_sale_rate,
    COALESCE(sum(b.quantity_available) FILTER (WHERE b.is_active), (0)::bigint) AS total_quantity,
    count(b.batch_id) FILTER (WHERE b.is_active) AS active_batch_count,
    min(b.expiry_date) FILTER (WHERE (b.is_active AND (b.quantity_available > 0))) AS nearest_expiry,
    COALESCE(sum(((b.quantity_available)::numeric * b.mrp)) FILTER (WHERE b.is_active), (0)::numeric) AS total_stock_value_at_mrp,
        CASE
            WHEN (COALESCE(sum(b.quantity_available) FILTER (WHERE b.is_active), (0)::bigint) = 0) THEN 'out_of_stock'::text
            WHEN (min((b.expiry_date - CURRENT_DATE)) FILTER (WHERE (b.is_active AND (b.quantity_available > 0))) <= 30) THEN 'expiry_critical'::text
            WHEN (min((b.expiry_date - CURRENT_DATE)) FILTER (WHERE (b.is_active AND (b.quantity_available > 0))) <= 60) THEN 'expiry_warning'::text
            WHEN (min((b.expiry_date - CURRENT_DATE)) FILTER (WHERE (b.is_active AND (b.quantity_available > 0))) <= 90) THEN 'expiry_watch'::text
            ELSE 'normal'::text
        END AS stock_status
   FROM (((public.products p
     JOIN public.manufacturers m ON ((m.manufacturer_id = p.manufacturer_id)))
     LEFT JOIN public.categories c ON ((c.category_id = p.category_id)))
     LEFT JOIN public.batches b ON ((b.product_id = p.product_id)))
  WHERE (p.is_active = true)
  GROUP BY p.product_id, p.name, p.generic_formula, m.name, m.country, c.name, p.form, p.uom, p.drug_schedule, p.requires_prescription, p.shelf_no, p.default_sale_rate;


ALTER VIEW public.v_stock_summary OWNER TO postgres;

--
-- Name: v_supplier_ap; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_supplier_ap AS
 SELECT s.supplier_id,
    s.name AS supplier_name,
    s.credit_period_days,
    ((COALESCE(sum(pi.net_payable) FILTER (WHERE (pi.status = 'confirmed'::public.invoice_status)), (0)::numeric) + s.opening_balance) - COALESCE(sum(p.amount) FILTER (WHERE (p.direction = 'paid'::public.payment_direction)), (0)::numeric)) AS outstanding_payable
   FROM ((public.suppliers s
     LEFT JOIN public.purchase_invoices pi ON ((pi.supplier_id = s.supplier_id)))
     LEFT JOIN public.payments p ON (((p.party_id = s.supplier_id) AND (p.direction = 'paid'::public.payment_direction))))
  WHERE (s.is_active = true)
  GROUP BY s.supplier_id, s.name, s.credit_period_days, s.opening_balance;


ALTER VIEW public.v_supplier_ap OWNER TO postgres;

--
-- Data for Name: batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batches (batch_id, product_id, supplier_id, purchase_invoice_id, batch_number, manufacturing_date, expiry_date, mrp, purchase_cost_per_unit, quantity_received, quantity_available, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: contact_persons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contact_persons (contact_id, entity_type, entity_id, name, role, contact_number, email, is_primary, created_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers (customer_id, name, strn, ntn, drug_licence_no, address, city, territory, customer_type, credit_limit, opening_balance, payment_terms, is_active, deactivated_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses (expense_id, expense_date, category, description, amount, mode, reference_no, vendor_name, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: manufacturers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manufacturers (manufacturer_id, name, drap_mfg_licence, country, contact_number, email, is_active, deactivated_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments (payment_id, direction, party_id, payment_date, amount, mode, reference_no, bank_name, notes, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: product_price_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_price_history (history_id, product_id, changed_by, default_sale_rate, default_purchase_rate, effective_from, notes) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (product_id, name, manufacturer_id, category_id, form, uom, quantity_in_uom, hsn_code, gst_rate, drug_schedule, drap_registration_no, requires_prescription, generic_formula, default_sale_rate, default_purchase_rate, shelf_no, attributes, is_active, deactivated_at, created_at, updated_at, search_vector) FROM stdin;
\.


--
-- Data for Name: purchase_invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_invoice_items (item_id, purchase_invoice_id, product_id, batch_number, manufacturing_date, expiry_date, mrp, purchase_cost_per_unit, quantity, discount_pct, gst_rate, line_total, tax_amount) FROM stdin;
\.


--
-- Data for Name: purchase_invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_invoices (purchase_invoice_id, supplier_id, invoice_number, invoice_date, received_date, status, subtotal, discount_amount, tax_amount, net_payable, notes, created_by, confirmed_by, confirmed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: purchase_return_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_return_items (item_id, return_id, batch_id, quantity, credit_rate, line_credit) FROM stdin;
\.


--
-- Data for Name: purchase_returns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_returns (return_id, purchase_invoice_id, supplier_id, return_date, reason, notes, total_credit, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sale_invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_invoice_items (item_id, sale_invoice_id, product_id, batch_id, quantity, mrp, sale_rate, discount_pct, gst_rate, line_total, tax_amount) FROM stdin;
\.


--
-- Data for Name: sale_invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_invoices (sale_invoice_id, invoice_number, customer_id, invoice_date, due_date, status, subtotal, discount_amount, tax_amount, net_receivable, amount_paid, notes, created_by, confirmed_by, confirmed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sale_return_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_return_items (item_id, return_id, batch_id, quantity, credit_rate, line_credit) FROM stdin;
\.


--
-- Data for Name: sale_returns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_returns (return_id, sale_invoice_id, customer_id, return_date, reason, notes, total_credit, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_movements (movement_id, batch_id, movement_type, quantity, reference_type, reference_id, notes, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (supplier_id, name, strn, ntn, drug_licence_no, address, city, payment_terms, credit_period_days, opening_balance, is_active, deactivated_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, username, password_hash, is_active, deactivated_at, last_login_at, failed_attempts, locked_until, created_at, updated_at) FROM stdin;
be456bc8-5106-4283-b6c0-3ec6fcc2aa69	sheraz	$argon2id$v=19$m=65536,t=3,p=4$XcZuACKg+Z+4xYKgwxe9HA$1DHFHiTDHF2wpwO29lU8YAZqS8wDlUyxSFd6ehfopLU	t	\N	2026-04-17 15:08:15.254178+05	0	\N	2026-04-17 15:08:05.358987+05	2026-04-17 15:08:15.254178+05
\.


--
-- Name: sale_invoice_num_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sale_invoice_num_seq', 1, false);


--
-- Name: batches batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_pkey PRIMARY KEY (batch_id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: contact_persons contact_persons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_persons
    ADD CONSTRAINT contact_persons_pkey PRIMARY KEY (contact_id);


--
-- Name: customers customers_ntn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_ntn_key UNIQUE (ntn);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: customers customers_strn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_strn_key UNIQUE (strn);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (expense_id);


--
-- Name: manufacturers manufacturers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturers
    ADD CONSTRAINT manufacturers_pkey PRIMARY KEY (manufacturer_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: product_price_history product_price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_history
    ADD CONSTRAINT product_price_history_pkey PRIMARY KEY (history_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: purchase_invoice_items purchase_invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_pkey PRIMARY KEY (item_id);


--
-- Name: purchase_invoices purchase_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_pkey PRIMARY KEY (purchase_invoice_id);


--
-- Name: purchase_return_items purchase_return_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_return_items
    ADD CONSTRAINT purchase_return_items_pkey PRIMARY KEY (item_id);


--
-- Name: purchase_returns purchase_returns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_returns
    ADD CONSTRAINT purchase_returns_pkey PRIMARY KEY (return_id);


--
-- Name: sale_invoice_items sale_invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT sale_invoice_items_pkey PRIMARY KEY (item_id);


--
-- Name: sale_invoices sale_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT sale_invoices_pkey PRIMARY KEY (sale_invoice_id);


--
-- Name: sale_return_items sale_return_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_return_items
    ADD CONSTRAINT sale_return_items_pkey PRIMARY KEY (item_id);


--
-- Name: sale_returns sale_returns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_returns
    ADD CONSTRAINT sale_returns_pkey PRIMARY KEY (return_id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (movement_id);


--
-- Name: suppliers suppliers_ntn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_ntn_key UNIQUE (ntn);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (supplier_id);


--
-- Name: suppliers suppliers_strn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_strn_key UNIQUE (strn);


--
-- Name: batches uq_batches_product_batch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT uq_batches_product_batch UNIQUE (product_id, batch_number);


--
-- Name: categories uq_categories_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT uq_categories_name UNIQUE (name);


--
-- Name: manufacturers uq_manufacturers_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manufacturers
    ADD CONSTRAINT uq_manufacturers_name UNIQUE (name);


--
-- Name: products uq_products_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT uq_products_name UNIQUE (name);


--
-- Name: purchase_invoices uq_purchase_invoices_supplier_invoice; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT uq_purchase_invoices_supplier_invoice UNIQUE (supplier_id, invoice_number);


--
-- Name: purchase_invoice_items uq_purchase_item_batch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT uq_purchase_item_batch UNIQUE (purchase_invoice_id, product_id, batch_number);


--
-- Name: sale_invoices uq_sale_invoices_number; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT uq_sale_invoices_number UNIQUE (invoice_number);


--
-- Name: sale_invoice_items uq_sale_item_batch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT uq_sale_item_batch UNIQUE (sale_invoice_id, batch_id);


--
-- Name: users uq_users_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_batches_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_active ON public.batches USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_batches_expiry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_expiry ON public.batches USING btree (expiry_date);


--
-- Name: idx_batches_near_expiry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_near_expiry ON public.batches USING btree (expiry_date, quantity_available) WHERE ((is_active = true) AND (quantity_available > 0));


--
-- Name: idx_batches_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_product ON public.batches USING btree (product_id);


--
-- Name: idx_batches_stock_check; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_stock_check ON public.batches USING btree (product_id, is_active, quantity_available) WHERE ((is_active = true) AND (quantity_available > 0));


--
-- Name: idx_batches_supplier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_supplier ON public.batches USING btree (supplier_id);


--
-- Name: idx_contacts_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contacts_entity ON public.contact_persons USING btree (entity_type, entity_id);


--
-- Name: idx_customers_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_active ON public.customers USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_customers_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_city ON public.customers USING btree (city);


--
-- Name: idx_customers_fts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_fts ON public.customers USING gin (search_vector);


--
-- Name: idx_customers_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_name_trgm ON public.customers USING gin (name public.gin_trgm_ops);


--
-- Name: idx_customers_strn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_strn ON public.customers USING btree (strn);


--
-- Name: idx_customers_territory; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_territory ON public.customers USING btree (territory);


--
-- Name: idx_customers_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_type ON public.customers USING btree (customer_type);


--
-- Name: idx_expenses_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expenses_category ON public.expenses USING btree (category);


--
-- Name: idx_expenses_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expenses_date ON public.expenses USING btree (expense_date DESC);


--
-- Name: idx_manufacturers_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_manufacturers_active ON public.manufacturers USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_manufacturers_country; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_manufacturers_country ON public.manufacturers USING btree (country);


--
-- Name: idx_manufacturers_fts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_manufacturers_fts ON public.manufacturers USING gin (search_vector);


--
-- Name: idx_manufacturers_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_manufacturers_name_trgm ON public.manufacturers USING gin (name public.gin_trgm_ops);


--
-- Name: idx_movements_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movements_batch ON public.stock_movements USING btree (batch_id);


--
-- Name: idx_movements_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movements_created ON public.stock_movements USING btree (created_at DESC);


--
-- Name: idx_movements_reference; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movements_reference ON public.stock_movements USING btree (reference_type, reference_id);


--
-- Name: idx_movements_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movements_type ON public.stock_movements USING btree (movement_type);


--
-- Name: idx_payments_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_date ON public.payments USING btree (payment_date DESC);


--
-- Name: idx_payments_party; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_party ON public.payments USING btree (party_id, direction);


--
-- Name: idx_price_history_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_history_product ON public.product_price_history USING btree (product_id, effective_from DESC);


--
-- Name: idx_products_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_active ON public.products USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_formula_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_formula_trgm ON public.products USING gin (generic_formula public.gin_trgm_ops);


--
-- Name: idx_products_fts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_fts ON public.products USING gin (search_vector);


--
-- Name: idx_products_manufacturer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_manufacturer ON public.products USING btree (manufacturer_id);


--
-- Name: idx_products_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_name_trgm ON public.products USING gin (name public.gin_trgm_ops);


--
-- Name: idx_products_schedule; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_schedule ON public.products USING btree (drug_schedule);


--
-- Name: idx_purchase_invoices_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_invoices_date ON public.purchase_invoices USING btree (invoice_date DESC);


--
-- Name: idx_purchase_invoices_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_invoices_status ON public.purchase_invoices USING btree (status);


--
-- Name: idx_purchase_invoices_supplier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_invoices_supplier ON public.purchase_invoices USING btree (supplier_id);


--
-- Name: idx_purchase_items_invoice; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_items_invoice ON public.purchase_invoice_items USING btree (purchase_invoice_id);


--
-- Name: idx_purchase_items_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_items_product ON public.purchase_invoice_items USING btree (product_id);


--
-- Name: idx_sale_invoices_ageing; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_invoices_ageing ON public.sale_invoices USING btree (customer_id, due_date, balance_due) WHERE ((status = 'confirmed'::public.invoice_status) AND (balance_due > (0)::numeric));


--
-- Name: idx_sale_invoices_balance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_invoices_balance ON public.sale_invoices USING btree (balance_due) WHERE (balance_due > (0)::numeric);


--
-- Name: idx_sale_invoices_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_invoices_customer ON public.sale_invoices USING btree (customer_id);


--
-- Name: idx_sale_invoices_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_invoices_date ON public.sale_invoices USING btree (invoice_date DESC);


--
-- Name: idx_sale_invoices_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_invoices_status ON public.sale_invoices USING btree (status);


--
-- Name: idx_sale_items_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_items_batch ON public.sale_invoice_items USING btree (batch_id);


--
-- Name: idx_sale_items_invoice; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_items_invoice ON public.sale_invoice_items USING btree (sale_invoice_id);


--
-- Name: idx_suppliers_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_active ON public.suppliers USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_suppliers_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_city ON public.suppliers USING btree (city);


--
-- Name: idx_suppliers_fts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_fts ON public.suppliers USING gin (search_vector);


--
-- Name: idx_suppliers_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_name_trgm ON public.suppliers USING gin (name public.gin_trgm_ops);


--
-- Name: idx_suppliers_strn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_strn ON public.suppliers USING btree (strn);


--
-- Name: uidx_contacts_primary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uidx_contacts_primary ON public.contact_persons USING btree (entity_type, entity_id) WHERE (is_primary = true);


--
-- Name: batches trg_batch_insert_opening_movement; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_batch_insert_opening_movement AFTER INSERT ON public.batches FOR EACH ROW EXECUTE FUNCTION public.fn_batch_opening_movement();


--
-- Name: batches trg_batches_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_batches_updated_at BEFORE UPDATE ON public.batches FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: categories trg_category_name_propagate; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_category_name_propagate AFTER UPDATE OF name ON public.categories FOR EACH ROW WHEN ((old.name IS DISTINCT FROM new.name)) EXECUTE FUNCTION public.fn_rebuild_product_search_vector();


--
-- Name: customers trg_customers_deactivated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_customers_deactivated BEFORE UPDATE OF is_active ON public.customers FOR EACH ROW EXECUTE FUNCTION public.fn_set_deactivated_at();


--
-- Name: customers trg_customers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: manufacturers trg_manufacturer_name_propagate; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_manufacturer_name_propagate AFTER UPDATE OF name ON public.manufacturers FOR EACH ROW WHEN ((old.name IS DISTINCT FROM new.name)) EXECUTE FUNCTION public.fn_rebuild_product_search_vector();


--
-- Name: manufacturers trg_manufacturers_deactivated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_manufacturers_deactivated BEFORE UPDATE OF is_active ON public.manufacturers FOR EACH ROW EXECUTE FUNCTION public.fn_set_deactivated_at();


--
-- Name: manufacturers trg_manufacturers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_manufacturers_updated_at BEFORE UPDATE ON public.manufacturers FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: products trg_products_deactivated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_products_deactivated BEFORE UPDATE OF is_active ON public.products FOR EACH ROW EXECUTE FUNCTION public.fn_set_deactivated_at();


--
-- Name: products trg_products_prescription; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_products_prescription BEFORE INSERT OR UPDATE OF drug_schedule ON public.products FOR EACH ROW EXECUTE FUNCTION public.fn_sync_prescription_flag();


--
-- Name: products trg_products_search_vector; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_products_search_vector BEFORE INSERT OR UPDATE OF name, generic_formula, form, hsn_code, drap_registration_no, manufacturer_id, category_id ON public.products FOR EACH ROW EXECUTE FUNCTION public.fn_rebuild_product_search_vector();


--
-- Name: products trg_products_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: purchase_invoices trg_purchase_invoices_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_purchase_invoices_updated_at BEFORE UPDATE ON public.purchase_invoices FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: purchase_returns trg_purchase_returns_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_purchase_returns_updated_at BEFORE UPDATE ON public.purchase_returns FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: sale_invoices trg_sale_invoice_credit_check; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sale_invoice_credit_check BEFORE UPDATE OF status ON public.sale_invoices FOR EACH ROW EXECUTE FUNCTION public.fn_check_credit_limit();


--
-- Name: sale_invoices trg_sale_invoices_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sale_invoices_updated_at BEFORE UPDATE ON public.sale_invoices FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: sale_returns trg_sale_returns_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sale_returns_updated_at BEFORE UPDATE ON public.sale_returns FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: stock_movements trg_stock_movement_sync; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_stock_movement_sync AFTER INSERT ON public.stock_movements FOR EACH ROW EXECUTE FUNCTION public.fn_sync_batch_quantity();


--
-- Name: suppliers trg_suppliers_deactivated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_suppliers_deactivated BEFORE UPDATE OF is_active ON public.suppliers FOR EACH ROW EXECUTE FUNCTION public.fn_set_deactivated_at();


--
-- Name: suppliers trg_suppliers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_suppliers_updated_at BEFORE UPDATE ON public.suppliers FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: users trg_users_deactivated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_deactivated BEFORE UPDATE OF is_active ON public.users FOR EACH ROW EXECUTE FUNCTION public.fn_set_deactivated_at();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: batches batches_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: batches batches_purchase_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_purchase_invoice_id_fkey FOREIGN KEY (purchase_invoice_id) REFERENCES public.purchase_invoices(purchase_invoice_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: batches batches_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(supplier_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: expenses expenses_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: payments payments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: product_price_history product_price_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_history
    ADD CONSTRAINT product_price_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: product_price_history product_price_history_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_history
    ADD CONSTRAINT product_price_history_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_manufacturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_manufacturer_id_fkey FOREIGN KEY (manufacturer_id) REFERENCES public.manufacturers(manufacturer_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_invoice_items purchase_invoice_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE RESTRICT;


--
-- Name: purchase_invoice_items purchase_invoice_items_purchase_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_purchase_invoice_id_fkey FOREIGN KEY (purchase_invoice_id) REFERENCES public.purchase_invoices(purchase_invoice_id) ON DELETE RESTRICT;


--
-- Name: purchase_invoices purchase_invoices_confirmed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_confirmed_by_fkey FOREIGN KEY (confirmed_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: purchase_invoices purchase_invoices_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: purchase_invoices purchase_invoices_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(supplier_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_return_items purchase_return_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_return_items
    ADD CONSTRAINT purchase_return_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batches(batch_id) ON DELETE RESTRICT;


--
-- Name: purchase_return_items purchase_return_items_return_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_return_items
    ADD CONSTRAINT purchase_return_items_return_id_fkey FOREIGN KEY (return_id) REFERENCES public.purchase_returns(return_id) ON DELETE CASCADE;


--
-- Name: purchase_returns purchase_returns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_returns
    ADD CONSTRAINT purchase_returns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: purchase_returns purchase_returns_purchase_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_returns
    ADD CONSTRAINT purchase_returns_purchase_invoice_id_fkey FOREIGN KEY (purchase_invoice_id) REFERENCES public.purchase_invoices(purchase_invoice_id) ON DELETE RESTRICT;


--
-- Name: purchase_returns purchase_returns_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_returns
    ADD CONSTRAINT purchase_returns_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(supplier_id) ON DELETE RESTRICT;


--
-- Name: sale_invoice_items sale_invoice_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT sale_invoice_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batches(batch_id) ON DELETE RESTRICT;


--
-- Name: sale_invoice_items sale_invoice_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT sale_invoice_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE RESTRICT;


--
-- Name: sale_invoice_items sale_invoice_items_sale_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoice_items
    ADD CONSTRAINT sale_invoice_items_sale_invoice_id_fkey FOREIGN KEY (sale_invoice_id) REFERENCES public.sale_invoices(sale_invoice_id) ON DELETE RESTRICT;


--
-- Name: sale_invoices sale_invoices_confirmed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT sale_invoices_confirmed_by_fkey FOREIGN KEY (confirmed_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: sale_invoices sale_invoices_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT sale_invoices_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: sale_invoices sale_invoices_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_invoices
    ADD CONSTRAINT sale_invoices_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sale_return_items sale_return_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_return_items
    ADD CONSTRAINT sale_return_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batches(batch_id) ON DELETE RESTRICT;


--
-- Name: sale_return_items sale_return_items_return_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_return_items
    ADD CONSTRAINT sale_return_items_return_id_fkey FOREIGN KEY (return_id) REFERENCES public.sale_returns(return_id) ON DELETE CASCADE;


--
-- Name: sale_returns sale_returns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_returns
    ADD CONSTRAINT sale_returns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: sale_returns sale_returns_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_returns
    ADD CONSTRAINT sale_returns_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON DELETE RESTRICT;


--
-- Name: sale_returns sale_returns_sale_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_returns
    ADD CONSTRAINT sale_returns_sale_invoice_id_fkey FOREIGN KEY (sale_invoice_id) REFERENCES public.sale_invoices(sale_invoice_id) ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batches(batch_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict pAEaVUapzkyaMR82c0jCwf5IFJsonlHoA5U9G7g2UW9DXnUJeZKXrq9L5rC3x0u

